<%- include("Partials/headder") %>

    <div class="container ">

        <h1 class="text-center mb-100">Update Tast </h1>

        <a type="submit" href="/" class="btn btn-primary">Back</a> <br />
        <br />

        <form action="/update-todo/<%= todo._id %>" method="post">
            <div class="mb-3">
                <label for="title" class="form-label ">Title</label>
                <input type="text" class="form-control" name="title" value="<%= todo.title %>"/>

            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text"  class="form-control" name="desc" value="<%= todo.desc %>"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



    <%- include("Partials/footer") %>